{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    }
  },
  "rules": {
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [
          ".jsx",
          ".js"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx"
      ]
    }
  ]
}
